@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html,body{
  width: 100%;
  overflow-x: hidden !important;
}
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));

    overflow-x: hidden;
}

body::-webkit-scrollbar{
  display: none;
}

.marquee{
  background: #ffffff;
  color: #010101;
  font-size: 40px;
  font-weight: 600;
  text-transform: capitalize;
  overflow: hidden;
  padding: 1.5rem 0px;
  width: 110%;
  transform: rotateZ(5deg);
  position: relative;
  left: -20px;

}
.shad{
  
  background: #ffffff;
}
.marq2{
  transform: rotateZ(-5deg);

}
.box{
  width: 400px;
  height: 400px;
  background: green;
}
.marquee_inner{
  display: flex;
  width: fit-content;
  flex: auto;
  flex-direction: row;
}

.marque_parts{
  display: flex;
  align-items: center;
  flex-shrink: 0;
  padding: 0 4px;
}
.marque_parts2{
  display: flex;
  align-items: center;
  flex-shrink: 0;
  padding: 0 4px;
}